# Node.js and npm
node_modules/
npm-debug.log
yarn-error.log

# Build files
build/
dist/

# Editor-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Dependency lock files
yarn.lock
package-lock.json

# Environment variables
.env.local
.env.development
.env.test
.env.production

# Tailwind CSS cache
.tailwindcss/

# Optional: Log files or output from development servers
log/
logs/
*.log
